header {background: #003333;color:#FFFFFF;
min-height:100px;
}
footer {background: #003333;color:#FFFFFF;
min-height:30px;width: 100%;clear:left
}
body{
 font-family: "Trebuchet MS, sans-serif";
    font-size: 120%
}
h2{
 font-family: "Trebuchet MS, sans-serif";
    font-size: 200%;
    font-weight: bold;
    color:#e6ffff 
}
h1{
    font-family: "Trebuchet MS, sans-serif";
    font-size: 100%;
    font-weight: bold;
    color:#e6ffff 
}
#container{
    width:800px;
    text-align: left;
    float:left;
}

.item-left{
    background-color: #c1f0f0;/*dark blue */
    float:left;
    width:75%;
    }
.item-right{
    background-color: #196666;/*light blue */
    float:left;
    width:25%;
    }
