header {background: #003333;
 color:#FFFFFF;
min-height:100px;
 font-family: "Trebuchet MS", sans-serif;
    font-size: 300%;
    font-weight: bold;
 padding: 10px;
}
footer {background: #003333;
 color:#FFFFFF;
 min-height:30px;
 width: 100%;
 clear:left
 padding: 10px;
}
body{
font-family: "Trebuchet MS", sans-serif;
    font-size: 100%
     color: #0a2929;
}
p{
 color:#0a2929;
}
h2{/**/
 font-family: "Trebuchet MS", sans-serif;
    font-size: 120%;
    color:#0a2929 
}
h1{
    font-family: "Trebuchet MS", sans-serif;
    font-size: 150%;
    font-weight: bold;
    color:#0a2929 
}
#container{
    width:800px;
    text-align: left;
    float:left;
   
}

.item-left{
    background-color: #c1f0f0;/*dark blue */
    float:left;
    width:75%;
    padding: 10px
    }
.item-right{
    background-color: #196666;/*light blue */
    float:left;
    width:25%;
 padding: 10px
    }
